@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    font-family: Arial, sans-serif;
}

#fundoApp {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
nav {
    width: 100%;
    background-color: #111111;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-items a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.mural-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1610px;
    margin: 0 auto;


}

.caixa-imagem{
    background-color: #070707;
    border-radius: 8px;
    margin: 25px;
    width:150px; 
    text-align: center;
}
.caixa-imagem img {
    width: 90%;
    height: 75%;
    border-radius: 5px;
}

.caixa-imagem p{
    font-family: "Rye", serif;


}


@media screen and (max-width: 768px){


    .mural-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1610px;
    margin: 0 auto;
    

}

.caixa-imagem{
    background-color: #070707;
    border-radius: 8px;
    margin: 5px;
    margin-top: 40px;
    width:200px; 
    text-align: center;
    box-shadow: 0 4px 8px rgb(240, 240, 240);
    
}
.caixa-imagem img {
    width: 90%;
    height: 75%;
    border-radius: 5px;
    margin-top: 10px;
    
}

.caixa-imagem p{
    font-family: "Rye", serif;


}
}